    <div class="text-center justifyitem-center m-5" >
        <h1>Bienvenido a nuestra Tienda de Ropa</h1>
        <p>Encuentra las últimas tendencias de moda</p>
        <a href="#" class="btn btn-success">Ver Productos</a>
    </div>

    <h2 class="text-center justifyitem-center">¿Por qué elegirnos?
</h2>
<ul>
    <li class="p-2 m-2 text-center">Variedad: Nuestra colección está cuidadosamente seleccionada para incluir una amplia gama de estilos, tallas y colores, asegurando que encuentres la prenda perfecta para ti.</li>
    <li class="p-2 m-2 text-center">Calidad: Trabajamos con proveedores de confianza para ofrecerte ropa duradera y bien confeccionada. Cada prenda es una inversión en tu armario.</li>
    <li class="p-2 m-2 text-center">Calidad: Trabajamos con proveedores de confianza para ofrecerte ropa duradera y bien confeccionada. Cada prenda es una inversión en tu armario.</li>
    <li class="p-2 m-2 text-center">Ofertas Exclusivas: No olvides visitar nuestra sección de ofertas especiales donde podrás encontrar descuentos increíbles en tus marcas favoritas.</li>
    <li class="p-2 m-2 text-center">Atención Personalizada: Nuestro equipo está aquí para ayudarte en cada paso del camino. Ya sea que necesites asesoramiento de estilo o ayuda para encontrar tu talla, ¡estamos para servirte!</li>
</ul>




<script src="/public/scripts/socket.js"></script> 